.panel {
  .panel-hdr {
    border-bottom: none;
  }
  .ui-sortable-handle {
    font-weight: bold;
    font-size: 21px;
    line-height: 28px;
    text-transform: uppercase;
    color: #2c4897;
  }
  .panel-toolbar {
    .toolbar {
      margin-right: 10px;
      display: flex;
      align-items: center;
      div > label.lable_bccc{
        font-weight: bold;
        color: #2c4897;
        margin-right: 5px;
      }
    }
  }
  .icon-panel {
    max-width: 25px;
    max-height: 23px;
    padding: 0;
    margin: 0 8px 0 10px;
  }
}
