.carousel-items {
    cursor: pointer;
    img {
        height: 130px;
        width: 100%;
        border-radius: 2px;
        border: 1px solid #ddd;
    }
}
.author {
    color: #fff;
    padding: 0px 5px;
}